body {
  font-family: 'DM Sans', Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin-left: 250px;
  margin-right: 250px;;
}

@media (max-width: 1250px) {
  body {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }
}